@font-face {
    font-family: 'first-font';
    src: url(./fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: 'second-font';
    src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
}